

<div class="mt4">
    <h2>req.session</h2>
    <form>
        <div class="form-group">
            {{!-- <label for="description">Email address</label> --}}
            <textarea class="form-control">{{reqsession}}</textarea>
        </div>


    <h2>req.user</h2>

        <div class="form-group">
            {{!-- <label for="description">Email address</label> --}}
            <textarea class="form-control">{{requser}}</textarea>
        </div>
    </form>
</div>