
<h3 class="py-5 text-center">Congratulations, your account has been successfully created.</h3>

<div class="d-flex justify-content-center">
  <a href="/">
    <button type="button" class="btn btn-outline-success btn-lg">Back to Home</button>
  </a>
</div>